<div class="background">
    <img src="../../../assets/dotex512x216.png">
</div>

<p-menubar>
    <ng-template pTemplate="start">
        <div class="logo" routerLink="/">
            <img src="../../../../assets/dotex256x108.png">
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <button pButton label="Launch App" class="p-button-raised p-button-outlined" routerLink="/bids" icon="pi pi-sign-in" iconPos="right"></button>
    </ng-template>
</p-menubar>

<div class="content">
    <h1 class="title">Turn your invoices and receivables into collateral.</h1>
    <h3 class="title2">A new DeFi primitive for decentralized lending and tokenization receivables</h3>
</div>

<div class="content">
    <div class="container">
        <div class="header">- Get Funded -</div>
        <ul class="steps">
            <li class="step">Upload your Invoice / Purchase Order and the Approver address.</li>
            <li class="step">Approver approves your application.</li>
            <li class="step">Peers bid to fund you.</li>
            <li class="step">Accept or reject bids.</li>
            <li class="step">Pay back the peers you accepted their bids.</li>
        </ul>
    </div>

    <div class="container">
        <div class="header">- Fund Someone -</div>
        <ul class="steps">
            <li class="step">Browse through people/organizations requesting for funds.</li>
            <li class="step">Find the person/organization you want to find.</li>
            <li class="step">Enter the amount you want fund them with and the interest rate you want.</li>
            <li class="step">Wait for them them to confirm.</li>
        </ul>
    </div>
    
    <div class="container">
        <div class="header">- Approve -</div>
        <ul class="steps">
            <li class="step">Approves Funding Request.</li>
        </ul>
    </div>
</div>